<template>
  <v-card ref="form">
    <v-card-text>
     <v-layout row wrap>
       <v-flex lg6 sm6>
           <v-autocomplete
        label="PEI"
        placeholder="Select..."
        :rules="[() => !!PLSpeiID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSpeiID"
        :items="peis"
        v-model="PLSpeiID"
        ref="PLSpeiID"
        required
      ></v-autocomplete>
       </v-flex>
        <v-flex lg6 sm6>
           <v-autocomplete
        label="Codigo OE"
        placeholder="Select..."
        :rules="[() => !!Codigo || 'This field is required']"
        item-text="Codigo"
        item-value="Codigo"
        :items="Codigos"
        v-model="Codigo"
        ref="Codigo"
        required
      ></v-autocomplete>
       </v-flex>
                <v-flex lg12 sm12>
                  <v-textarea outline
                  label="Descripcion"
                   :rules="[() => !!Descripcion || 'This field is required']"
                   :error-messages="errorMessages"
                  v-model="Descripcion"
                  ref="Descripcion"
                  placeholder=""
                  ></v-textarea>
                </v-flex>
                <v-spacer></v-spacer>
              </v-layout>
           
    </v-card-text>
    <v-divider class="mt-5"></v-divider>
    
    <v-card-actions>
       <v-slide-x-reverse-transition>
        <v-tooltip
          left
          v-if="formHasErrors"
        >
          <v-btn
            icon
            @click="resetForm"
            slot="activator"
            class="my-0"
          >
            <v-icon>refresh</v-icon>
          </v-btn>
          <span>Refresh form</span>
        </v-tooltip>
      </v-slide-x-reverse-transition>
        <v-btn color="primary" flat @click="submit">GUARDAR</v-btn>
          <v-btn color="primary" flat @click="listsPei">cargar pei</v-btn>
      <v-btn flat>Cancel</v-btn>
      <v-spacer></v-spacer>
     
    
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
     Codigos: [
      {
        Codigo:"OE-01",
        descripcion:"Objetivo Estrategico 1",
        estado:1
        }, {
        Codigo:"OE-02",
        descripcion:"Objetivo Estrategico 2",
        estado:1
        } ,{
        Codigo:"OE-03",
        descripcion:"Objetivo Estrategico 3",
        estado:1
        }, {
        Codigo:"OE-04",
        descripcion:"Objetivo Estrategico 4",
        estado:1
        }, {
        Codigo:"OE-05",
        descripcion:"Objetivo Estrategico 5",
        estado:1
        } ,{
        Codigo:"OE-06",
        descripcion:"Objetivo Estrategico 6",
        estado:1
        }
        
        ],
    peis: [
      {
        PLSpeiID:"jkdfhjkld879639yt3g4o4u5rgh97df",
        Codigo:"PEI-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
    ],
    errorMessages: [],
    PLSpeiID:null,
    Codigo: null,
    Descripcion: null,
    formHasErrors: false,
   //date
  }),

  computed: {
    form () {
      return {
        Codigo: this.Codigo,
        Descripcion: this.Descripcion,
         PLSpeiID: this.PLSpeiID,
        
      };
    },
   
    
   
  },

  watch: {
    incio () {
      this.errorMessages = [];
    },  
  },

  methods: {

 listsPei: function() {
       let currentObj = this;  

   this.axios.get('http://localhost:50952/api/PLS/Pei/GetListar', {})
  .then(function (response) {
     currentObj.peis=response.data.Dato; 

    
    console.log(response);

  })
  .catch(function (error) {
    console.log(error);
  });          
  },

    miviCheck () {
      this.errorMessages = this.mision && !this.vision
        ? ['Hey! I\'m required']
        : [];

      return true;
    },
    resetForm () {
      this.errorMessages = [];
      this.formHasErrors = false;

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset();
      });
    },
    submit () {
  this.formHasErrors = false;
  console.log(this.form);
      Object.keys(this.form).forEach(f => {
        console.log(f);
        if (!this.form[f]) this.formHasErrors = true;
        
        this.$refs[f].validate(true);
      });
if(!this.formHasErrors){
      let currentObj = this; 
   this.axios.post('http://localhost:50952/api/PLS/Oe/PostOeInsertar', {
     Descripcion: this.Descripcion,
      Codigo: this.Codigo,
      PLSpeiID: this.PLSpeiID,
  })
  .then(function (response) {
 if(response.data.Estado.Codigo==200){//201 CREATED
     currentObj.Descripcion= response.data.Dato.Descripcion;
    currentObj.PLSpeiId= response.data.Dato.PLSoeId; 
     currentObj.$notify({type:'success', title: 'SOLICITUD ACEPTADA',  text: 'Solicitud aceptada; la respuesta contiene el resultado',group: 'foo' });
 }else if(response.data.Estado.Codigo==201){//201 CREATED
  currentObj.Descripcion= response.data.Dato.Descripcion;
    currentObj.PLSpeiId= response.data.Dato.PLSoeId; 
     currentObj.$notify({type:'success', title: 'CREADO CORECTAMENTE',  text: 'Se a logrado Crear Correctamente el registro',group: 'foo' });
 }else if(response.Estado.Codigo==204){//204 NO CONTENT
  currentObj.$notify({type:'error', title: 'SIN DATOS PARA MOSTRAR',  text: 'Sin datos para mostrar',group: 'foo' });
 
 }else if(response.Estado.Codigo==400){//400 BAD REQUEST
  currentObj.$notify({type:'error', title: 'LA SOLITUD NO ES VALIDA',  text: 'Verifique que los datos esten llenados correctamente',group: 'foo' });
 
 }else if(response.Estado.Codigo==401){//401 UNAUTHORIZED
  currentObj.$notify({type:'error', title: 'ACCESO NO AUTORIZADO',  text: ' falta la información de autorización en la solicitud',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 };
    console.log(response);
  })
  .catch(function (error) {
   currentObj.$notify({type:'error', title: 'ERROR ',  text: 'Conexion Con servidor no concretado ',group: 'foo' });
  
    console.log(error);
  });  
 }else{
    this.$notify({type:'error', title: 'VERIFIQURE DATOS DE FORMULARIO ',  text: ' Revise los datos del formulario actual',group: 'foo' });
  
  }
    }
  }
 
};
</script>