<template>
  <v-card ref="form">
    <v-card-text>
     <v-layout row wrap>
          <v-flex lg3 sm3>
           <v-autocomplete
        label="PEI"
        placeholder="Select..."
        :rules="[() => !!PLSpeiID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSpeiID"
        :items="peis"
        v-model="PLSpeiID"
        ref="PLSpeiID"
        required
      ></v-autocomplete>
       </v-flex>

       <v-flex sm3 lg3>
           <v-autocomplete
        label="Codigo POA"
        placeholder="Select..."
        :rules="[() => !!Codigo || 'This field is required']"
        item-text="Codigo"
        item-value="Codigo"
        :items="Codigos"
        v-model="Codigo"
        ref="Codigo"
        required
      ></v-autocomplete>
       </v-flex>
           <v-flex sm3 lg3>
           <v-menu
          v-model="startDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
             :rules="[() => !!FechaInicio || 'This field is required']"
              :error-messages="errorMessages"
              v-model="FechaInicio"
              label="Fecha de inicio"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="FechaInicio" no-title @input="startDateMenu = false"></v-date-picker>
        </v-menu>
                </v-flex>
  <v-flex sm3 lg3>
           <v-menu
          v-model="endDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
             :rules="[() => !!FechaFin || 'This field is required']"
              :error-messages="errorMessages"
              v-model="FechaFin"
              label="Fecha de fin"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="FechaFin" no-title @input="endDateMenu = false"></v-date-picker>
        </v-menu>
                </v-flex>
                <v-flex lg12 sm12>
                  <v-textarea outline
                  label="Objetivo Gestion"
                   :rules="[() => !!Objetivo || 'This field is required']"
                   :error-messages="errorMessages"
                  v-model="Objetivo"
                  ref="Objetivo"
                  placeholder=""
                  ></v-textarea>
                </v-flex>
                <v-spacer></v-spacer>
              </v-layout>
           
    </v-card-text>
    <v-divider class="mt-5"></v-divider>
    
    <v-card-actions>
       <v-slide-x-reverse-transition>
        <v-tooltip
          left
          v-if="formHasErrors"
        >
          <v-btn
            icon
            @click="resetForm"
            slot="activator"
            class="my-0"
          >
            <v-icon>refresh</v-icon>
          </v-btn>
          <span>Refresh form</span>
        </v-tooltip>
      </v-slide-x-reverse-transition>
        <v-btn color="primary" flat @click="submit">GUARDAR</v-btn>
      <v-btn flat>Cancel</v-btn>
      <v-spacer></v-spacer>
     
    
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    Codigos: [
        {
        Codigo:"POA-01",
        descripcion:"Plan Estrategico Anual 1",
        estado:1
        },{
        Codigo:"POA-02",
        descripcion:"Plan Estrategico Anual 2",
        estado:1
        },{
        Codigo:"POA-03",
        descripcion:"Plan Estrategico Anual 3",
        estado:1
        },{
        Codigo:"POA-04",
        descripcion:"Plan Estrategico Anual 4",
        estado:1
        },{
        Codigo:"POA-04",
        descripcion:"Plan Estrategico Anual 4",
        estado:1
        },{
        Codigo:"POA-06",
        descripcion:"Plan Estrategico Anual 6",
        estado:1
        },
        
        ],
    peis: [
      {
        PLSpeiID:"jkdfhjkld879639yt3g4o4u5rgh97df",
        Codigo:"PEI-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
    ],
    errorMessages: [],
    PLSpeiID:null,
    Codigo:null,
    Mision: null,
    Vision: null,
    FechaInicio:null,
    startDateMenu:false,
     FechaFin:null,
    endDateMenu:false,
    formHasErrors: false,
   //date
  }),

  computed: {
    form () {
      return {
         PLSpeiID: this.PLSpeiID,
          Codigo: this.Codigo,
        Mision: this.Mision,
        Vision: this.Vision
        
      };
    }
  },

  watch: {
    incio () {
      this.errorMessages = [];
    },  
  },

  methods: {
    miviCheck () {
      this.errorMessages = this.Mision && !this.Vision
        ? ['Hey! I\'m required']
        : [];

      return true;
    },
    resetForm () {
      this.errorMessages = [];
      this.formHasErrors = false;

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset();
      });
    },
    submit () {
  this.formHasErrors = false;
  console.log(this.form);
      Object.keys(this.form).forEach(f => {
        console.log(f);
        if (!this.form[f]) this.formHasErrors = true;
        
        this.$refs[f].validate(true);
      });
if(!this.formHasErrors){
      let currentObj = this; 
   this.axios.post('http://192.168.51.106/api/PLS/Pei/PostPeiInsertar', {
     CodigoPei: this.CodigoPei,
     Codigo: this.Codigo,
     FechaInicio: this.FechaInicio,
    FechaFin: this.FechaFin,
    Mision: this.Mision,
    Vision: this.Vision
  })
  .then(function (response) {
 if(response.data.Estado.Codigo==200){//201 CREATED
     currentObj.FechaInicio= response.data.Dato.FechaInicio;
    currentObj.FechaFin= response.data.Dato.FechaFin;
    currentObj.Mision= response.data.Dato.Mision;
    currentObj.Vision= response.data.Dato.Vision;
     currentObj.Codigo= response.data.Dato.Codigo;
      currentObj.CodigoPei= response.data.Dato.CodigoPei;
    currentObj.PLSpeiId= response.data.Dato.PLSpeiId; 
     currentObj.$notify({type:'success', title: 'CREADO CORECTAMENTE',  text: 'Se a logrado Crear Correctamente el registro',group: 'foo' });
 }else if(response.data.Estado.Codigo==201){//201 CREATED
      currentObj.FechaInicio= response.data.Dato.FechaInicio;
    currentObj.FechaFin= response.data.Dato.FechaFin;
    currentObj.Mision= response.data.Dato.Mision;
    currentObj.Vision= response.data.Dato.Vision;
     currentObj.Codigo= response.data.Dato.Codigo;
         currentObj.CodigoPei= response.data.Dato.CodigoPei;
    currentObj.PLSpeiId= response.data.Dato.PLSpeiId; 
     currentObj.$notify({type:'success', title: 'CREADO CORECTAMENTE',  text: 'Se a logrado Crear Correctamente el registro',group: 'foo' });
 }else if(response.Estado.Codigo==204){//204 NO CONTENT
  currentObj.$notify({type:'error', title: 'SIN DATOS PARA MOSTRAR',  text: 'Sin datos para mostrar',group: 'foo' });
 
 }else if(response.Estado.Codigo==400){//400 BAD REQUEST
  currentObj.$notify({type:'error', title: 'LA SOLITUD NO ES VALIDA',  text: 'Verifique que los datos esten llenados correctamente',group: 'foo' });
 
 }else if(response.Estado.Codigo==401){//401 UNAUTHORIZED
  currentObj.$notify({type:'error', title: 'ACCESO NO AUTORIZADO',  text: ' falta la información de autorización en la solicitud',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 };
    console.log(response);
  })
  .catch(function (error) {
   currentObj.$notify({type:'error', title: 'ERROR ',  text: 'Conexion Con servidor no concretado ',group: 'foo' });
  
    console.log(error);
  });  
 }else{
    this.$notify({type:'error', title: 'VERIFIQURE DATOS DE FORMULARIO ',  text: ' Revise los datos del formulario actual',group: 'foo' });
  
  }
    }
  }
 
};
</script>