<template>
  <v-card ref="form">
    <v-card-text>
     <v-layout row wrap>
          <v-flex lg2 sm2>
           <v-autocomplete box
        label="Codogo PEI"
        placeholder="Select..."
        :rules="[() => !!PLSpeiID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSpeiID"
        :items="peis"
        v-model="PLSpeiID"
        ref="PLSpeiID"
        required
      ></v-autocomplete>
       </v-flex>
  <v-flex lg2 sm2>
           <v-autocomplete box
        label="Codigo OE"
        placeholder="Select..."
        :rules="[() => !!PLSoeID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSoeID"
        :items="oes"
        v-model="PLSoeID"
        ref="PLSoeID"
        required
      ></v-autocomplete>
       </v-flex>

           <v-flex lg2 sm2>
           <v-autocomplete box
        label="Codogo AC"
        placeholder="Select..."
        :rules="[() => !!PLSacID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSacID"
        :items="acs"
        v-model="PLSacID"
        ref="PLSacID"
        required
      ></v-autocomplete>
       </v-flex>
    <v-flex lg2 sm2>
           <v-autocomplete box
        label="Codogo AE"
        placeholder="Select..."
        :rules="[() => !!PLSaeID || 'This field is required']"
        item-text="Codigo"
        item-value="PLSaeID"
        :items="aes"
        v-model="PLSaeID"
        ref="PLSaeID"
        required
      ></v-autocomplete>
       </v-flex>

       <v-flex sm2 lg2>
           <v-autocomplete box
        label="Codigo TA"
        placeholder="Select..."
        :rules="[() => !!PLStaID || 'This field is required']"
        item-text="Codigo"
        item-value="Codigo"
        :items="tas"
        v-model="PLStaID"
        ref="PLStaID"
        required
      ></v-autocomplete>
       </v-flex>
        <v-flex sm2 lg2>
           <v-autocomplete box
        label="Codigo Actividad"
        placeholder="Select..."
        :rules="[() => !!Codigo || 'This field is required']"
        item-text="Codigo"
        item-value="Codigo"
        :items="Codigos"
        v-model="Codigo"
        ref="Codigo"
        required
      ></v-autocomplete>
       </v-flex>
 
                <v-flex lg5 sm5>
            <v-autocomplete outline
              v-model="friends"
              :disabled="isUpdating"
              :items="people"
              box
              chips
              color="blue-grey lighten-2"
              label="Select"
              item-text="name"
              item-value="name"
              multiple
            >
              <template v-slot:selection="data">
                <v-chip
                  :selected="data.selected"
                  close
                  class="chip--select-multi"
                  @input="remove(data.item)"
                >
                  <v-avatar>
                    <img :src="data.item.avatar">
                  </v-avatar>
                  {{ data.item.name }}
                </v-chip>
              </template>
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-avatar>
                    <img :src="data.item.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
                </v-flex>

                <v-flex sm2 lg2>
           <v-menu
          v-model="startDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field outline
             :rules="[() => !!FechaInicio || 'This field is required']"
              :error-messages="errorMessages"
              v-model="FechaInicio"
              label="Fecha de inicio"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="FechaInicio" no-title @input="startDateMenu = false"></v-date-picker>
        </v-menu>
                </v-flex>
  <v-flex sm2 lg2>
           <v-menu 
          v-model="endDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field outline
             :rules="[() => !!FechaFin || 'This field is required']"
              :error-messages="errorMessages"
              v-model="FechaFin"
              label="Fecha de fin"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="FechaFin" no-title @input="endDateMenu = false"></v-date-picker>
        </v-menu>
                </v-flex>
<v-flex sm2 lg2>
                    <v-text-field  outline
                  label="Porcentaje"
                   :rules="[() => !!Porcentaje || 'This field is required']"
                   :error-messages="errorMessages"
                  v-model="Porcentaje"
                  ref="Porcentaje"
                  placeholder=""
                  ></v-text-field >
</v-flex>
<v-flex sm1 lg1>
   <v-btn color="primary"  icon dark slot="activator">
                <v-icon >add</v-icon>
              </v-btn>
</v-flex>
                <v-spacer></v-spacer>
              </v-layout>

 <v-layout>
                    <v-flex xs14>
                      <v-card>
                        <v-toolbar card color="white">
                          <v-text-field
                            flat
                            solo
                            prepend-icon="search"
                            placeholder="Type something"
                            v-model="search"
                            hide-details
                            class="hidden-sm-and-down"
                          ></v-text-field>
                          <v-btn icon>
                            <v-icon>filter_list</v-icon>
                          </v-btn>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                          <v-data-table
                            :headers="complex.headers"
                            :search="search"
                            :items="complex.items"
                            :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                            class="elevation-1"
                            item-key="name"
                            select-all
                            v-model="complex.selected"
                          >
                            <template slot="items" slot-scope="props">
                              <td>
                                <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                              </td>
                              <td>
                                <v-avatar size="32">
                                  <img :src="props.item.avatar" alt>
                                </v-avatar>
                              </td>
                              <td>{{ props.item.email }}</td>
                              <td>{{ props.item.name }}</td>

                              <td>{{ props.item.phone }}</td>
                              <td>
                                <v-btn depressed outline icon fab dark color="primary" small>
                                  <v-icon>edit</v-icon>
                                </v-btn>
                                <v-btn depressed outline icon fab dark color="pink" small>
                                  <v-icon>delete</v-icon>
                                </v-btn>
                              </td>
                            </template>
                          </v-data-table>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>


    </v-card-text>
    <v-divider class="mt-5"></v-divider>
    
    <v-card-actions>
       <v-slide-x-reverse-transition>
        <v-tooltip
          left
          v-if="formHasErrors"
        >
          <v-btn
            icon
            @click="resetForm"
            slot="activator"
            class="my-0"
          >
            <v-icon>refresh</v-icon>
          </v-btn>
          <span>Refresh form</span>
        </v-tooltip>
      </v-slide-x-reverse-transition>
        <v-btn color="primary" flat @click="submit">GUARDAR</v-btn>
      <v-btn flat>Cancel</v-btn>
      <v-spacer></v-spacer>
     
    
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
      Codigos: [
        {
        Codigo:"TAS-01",
        descripcion:"Accion Especifica 1",
        estado:1
        },{
        Codigo:"TAS-02",
        descripcion:"Accion Especifica 2",
        estado:1
        }
        
        ],
        
         tas: [
        {
          PLSOeID:"016ad5ba-90e0-4406-a20d-60sdfsd7612a",
        Codigo:"TA-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
        ],
         aes: [
        {
          PLSOeID:"016ad5ba-90e0-4406-a20d-60sdfsd7612a",
        Codigo:"AE-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
        ],
     acs: [
        {
          PLSOeID:"016ad5ba-90e0-4406-a20d-60297b87612a",
        Codigo:"AC-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
        ],
    oes: [
        {
          PLSOeID:"016ad5ba-90e0-4406-a20d-60297b87612a",
        Codigo:"OE-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
        ],
    peis: [
      {
        PLSpeiID:"jkdfhjkld879639yt3g4o4u5rgh97df",
        Codigo:"PEI-01",
        Mision:"mision example 1",
        Vision:"vision example 1",
        FechaInicio:"01/01/2015",
        FechaFin:"31/12/2019"
        }
    ],
    errorMessages: [],
    PLSpeiID:null,
    Codigo:null,
    Mision: null,
    Vision: null,
    FechaInicio:null,
    startDateMenu:false,
     FechaFin:null,
    endDateMenu:false,
    formHasErrors: false,
   //avatar multi select
   /* const srcs = {
        1: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
        2: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
        3: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
        4: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
        5: 'https://cdn.vuetifyjs.com/images/lists/5.jpg'
      },*/
        autoUpdate: true,
        friends: ['Sandra Adams', 'Tucker Smith'],
        isUpdating: false,
        name: 'Midnight Crew',
        people: [
          { header: 'Group 1' },
          { name: 'Sandra Adams', group: 'Group 1', avatar: "/static/avatar/a2.jpg",},
          { name: 'Ali Connors', group: 'Group 1', avatar: "/static/avatar/a2.jpg" ,},
          { name: 'Trevor Hansen', group: 'Group 1', avatar: "/static/avatar/a2.jpg" ,},
          { name: 'Tucker Smith', group: 'Group 1', avatar: "/static/avatar/a3.jpg" ,},
          { divider: true },
          { header: 'Group 2' },
          { name: 'Britta Holt', group: 'Group 2', avatar: "/static/avatar/a2.jpg", },
          { name: 'Jane Smith ', group: 'Group 2', avatar: "/static/avatar/a2.jpg" ,},
          { name: 'John Smith', group: 'Group 2', avatar: "/static/avatar/a2.jpg", },
          { name: 'Sandra Williams', group: 'Group 2',avatar:  "/static/avatar/a2.jpg", }
        ],
        title: 'The summer breeze',
        //listar funcionario
          search: "",
      complex: {
        selected: [],
        headers: [
          {
            text: "involucrados",
            value: "avatar"
          },
          {
            text: "Codigo",
            value: "email"
          },
          {
            text: "descripcion",
            value: "name"
          },
          {
            text: "prioridad",
            value: "phone"
          },
          {
            text: "Action",
            value: ""
          }
        ],
        items: [
          {
            uuid: "28d9f265-74d7-4f85-83d4-6a21fca57dcf",
            name: "ANALISIS",
            email: "ST1",
            phone: "1",
            avatar: "/static/avatar/a3.jpg"
          },
          {
            uuid: "65a6eb21-67b5-45c3-9af7-faca2d9b60d4",
            name: "DISEÑO",
            email: "ST2",
            phone: "1",
            avatar: "/static/avatar/a2.jpg"
          }
        ]
      },
      
  }),

  computed: {
    form () {
      return {
         PLSpeiID: this.PLSpeiID,
          Codigo: this.Codigo,
        Mision: this.Mision,
        Vision: this.Vision
        
      };
    }
  },

  watch: {
    incio () {
      this.errorMessages = [];
    },
       isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      }
  },

  methods: {
     remove (item) {
        const index = this.friends.indexOf(item.name)
        if (index >= 0) this.friends.splice(index, 1)
      },
    miviCheck () {
      this.errorMessages = this.Mision && !this.Vision
        ? ['Hey! I\'m required']
        : [];

      return true;
    },
    resetForm () {
      this.errorMessages = [];
      this.formHasErrors = false;

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset();
      });
    },
    submit () {
  this.formHasErrors = false;
  console.log(this.form);
      Object.keys(this.form).forEach(f => {
        console.log(f);
        if (!this.form[f]) this.formHasErrors = true;
        
        this.$refs[f].validate(true);
      });
if(!this.formHasErrors){
      let currentObj = this; 
   this.axios.post('http://192.168.51.106/api/PLS/Pei/PostPeiInsertar', {
     CodigoPei: this.CodigoPei,
     Codigo: this.Codigo,
     FechaInicio: this.FechaInicio,
    FechaFin: this.FechaFin,
    Mision: this.Mision,
    Vision: this.Vision
  })
  .then(function (response) {
 if(response.data.Estado.Codigo==200){//201 CREATED
     currentObj.FechaInicio= response.data.Dato.FechaInicio;
    currentObj.FechaFin= response.data.Dato.FechaFin;
    currentObj.Mision= response.data.Dato.Mision;
    currentObj.Vision= response.data.Dato.Vision;
     currentObj.Codigo= response.data.Dato.Codigo;
      currentObj.CodigoPei= response.data.Dato.CodigoPei;
    currentObj.PLSpeiId= response.data.Dato.PLSpeiId; 
     currentObj.$notify({type:'success', title: 'CREADO CORECTAMENTE',  text: 'Se a logrado Crear Correctamente el registro',group: 'foo' });
 }else if(response.data.Estado.Codigo==201){//201 CREATED
      currentObj.FechaInicio= response.data.Dato.FechaInicio;
    currentObj.FechaFin= response.data.Dato.FechaFin;
    currentObj.Mision= response.data.Dato.Mision;
    currentObj.Vision= response.data.Dato.Vision;
     currentObj.Codigo= response.data.Dato.Codigo;
         currentObj.CodigoPei= response.data.Dato.CodigoPei;
    currentObj.PLSpeiId= response.data.Dato.PLSpeiId; 
     currentObj.$notify({type:'success', title: 'CREADO CORECTAMENTE',  text: 'Se a logrado Crear Correctamente el registro',group: 'foo' });
 }else if(response.Estado.Codigo==204){//204 NO CONTENT
  currentObj.$notify({type:'error', title: 'SIN DATOS PARA MOSTRAR',  text: 'Sin datos para mostrar',group: 'foo' });
 
 }else if(response.Estado.Codigo==400){//400 BAD REQUEST
  currentObj.$notify({type:'error', title: 'LA SOLITUD NO ES VALIDA',  text: 'Verifique que los datos esten llenados correctamente',group: 'foo' });
 
 }else if(response.Estado.Codigo==401){//401 UNAUTHORIZED
  currentObj.$notify({type:'error', title: 'ACCESO NO AUTORIZADO',  text: ' falta la información de autorización en la solicitud',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 }else if(response.Estado.Codigo==403){//403 FORBIDDEN
  currentObj.$notify({type:'error', title: 'ACCESO PROHIBIDO',  text: ' no cuenta con los privilegios para esta accion',group: 'foo' });
 
 };
    console.log(response);
  })
  .catch(function (error) {
   currentObj.$notify({type:'error', title: 'ERROR ',  text: 'Conexion Con servidor no concretado ',group: 'foo' });
  
    console.log(error);
  });  
 }else{
    this.$notify({type:'error', title: 'VERIFIQURE DATOS DE FORMULARIO ',  text: ' Revise los datos del formulario actual',group: 'foo' });
  
  }
    }
  }
 
};
</script>