<template>
  <div id="page-forms">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar color="success" dark flat dense cad>
              <v-toolbar-title class="subheading">FORMULARIO DE PEI</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-text>
                    <v-layout row wrap>
                      <v-flex
                        v-if="PLSpeiID && PLSpeiID!='00000000-0000-0000-0000-000000000000'"
                        sm12
                        lg12
                      >
                        <h3>ID:{{PLSpeiID}}</h3>
                      </v-flex>
                      <v-flex v-if="Codigo && Codigo!='000-00'" sm4 lg4>
                        <v-text-field
                          outline
                          label="Codigo PEI"
                          :error-messages="errorMessages"
                          v-model="Codigo"
                          ref
                          placeholder
                          :disabled="true"
                        ></v-text-field>
                      </v-flex>
                      <v-flex sm4 lg4>
                        <v-menu
                          v-model="startDateMenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              outline
                              :rules="[ () => !!FechaInicio || 'This field is required' ]"
                              v-model="FechaInicio"
                              label="Fecha de inicio"
                              hint="Formato (DIA/MES/AÑO)"
                              persistent-hint
                              append-icon="event"
                              v-on="on"
                              @blur="date = parseDate(FechaInicio)"
                              readonly
                              :disabled="disabledForm"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="date"
                            no-title
                            @input="startDateMenu = false"
                            :min="FechaInicioMin"
                            :max="FechaInicioMax"
                          ></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-flex sm4 lg4>
                        <v-menu
                          v-model="endDateMenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              outline
                              :rules="[() => !!FechaFin || 'This field is required',FechaRangoCheck
                ]"
                              v-model="FechaFin"
                              label="Fecha de fin"
                              hint="Formato (DIA/MES/AÑO)"
                              persistent-hint
                              append-icon="event"
                              v-on="on"
                              @blur="dateFin = parseDate(FechaFin)"
                              readonly
                              :disabled="disabledForm"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="dateFin" no-title @input="endDateMenu = false"></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-flex lg12 sm12>
                        <v-textarea
                          outline
                          class="ma-0 pa-0"
                          label="Mision"
                          :rules="[() => !!Mision || 'This field is required']"
                          v-model="Mision"
                          ref="Mision"
                          placeholder
                          :disabled="disabledForm"
                        ></v-textarea>
                      </v-flex>

                      <v-flex lg12 sm12>
                        <v-textarea
                          outline
                          label="Vision"
                          :rules="[() => !!Mision || 'This field is required']"
                          v-model="Vision"
                          ref="Vision"
                          placeholder
                          :disabled="disabledForm"
                        ></v-textarea>
                      </v-flex>
                      <v-spacer></v-spacer>
                    </v-layout>
                  </v-card-text>
                  <v-divider class="mt-5"></v-divider>

                  <v-card-actions v-if="!disabledForm">
                    <v-slide-x-reverse-transition>
                      <v-tooltip left v-if="formHasErrors">
                        <v-btn icon @click="resetForm" slot="activator" class="my-0">
                          <v-icon>refresh</v-icon>
                        </v-btn>
                        <span>Refresh form</span>
                      </v-tooltip>
                    </v-slide-x-reverse-transition>
                    <v-btn color="primary" flat @click="submit" :loading="loading" >GUARDAR</v-btn>
                    <v-btn flat>Cancel</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-form>
              <!-- finnnnnn -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
/* import VWidget from '@/components/VWidget'; */
export default {
  name: "PeiForm",
  data: vm => ({
      loading: false,
    //form
    valid: true,
    formHasErrors: false,
    disabledForm: null,
    errorMessages: [],

    PLSpeiID: null,
    Mision: null,
    Vision: null,
    Codigo: null,
    //fecha inicio
    date: "",
    //date: new Date().toISOString().substr(0, 10),
    FechaInicio: "",
    //     FechaInicio: vm.formatDate(new Date().toISOString().substr(0, 10)),
    startDateMenu: false,
    FechaInicioMin: null,
    FechaInicioMax: null,
    // fecha fin
    // dateFin: new Date().toISOString().substr(0, 10),
    dateFin: "",
    FechaFin: "",
    // FechaFin: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDateMenu: false,
    FechaFinMin: null,
    FechaFinMax: null
  }),
  computed: {
   /* computedDateFormatted() {
      return this.formatDate(this.date);
    },
    computedDateFinFormatted() {
      return this.formatDate(this.dateFin);
    }*/
  },
  mounted() {},
  watch: {
    date(val) {
      this.FechaInicio = this.formatDate(this.date);
    },
    dateFin(val) {
      this.FechaFin = this.formatDate(this.dateFin);
    }
  },
  created() {

  },
  methods: {
    //form
    validate() {
      if (this.$refs.form.validate()) {
        // this.snackbar = true
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    resetFormData() {
      this.resetValidation();
      (this.date = ""), (this.dateFin = ""), (this.FechaInicio = "");
      this.FechaFin = "";
         this.Mision = "";
            this.Vision = "";
      this.PLSpeiID = "00000000-0000-0000-0000-000000000000";
    },
    //fecha
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    FechaRangoCheck() {
      return new Date(this.parseDate(this.FechaInicio)) >
        new Date(this.parseDate(this.FechaFin))
        ? "Fecha Fin Debe ser Mayor de Fecha Inicio"
        : true;

      return true;
    },
 
//abm basicos
    loadAdd() {
      this.resetFormData();
      this.disabledForm = false;
    },
    loadView(id) {
      this.resetFormData();
      this.disabledForm = true;
      this.$service
        .post("PLS/Pei/Ir", {
          PLSpeiID: id
        })
        .then(response => {
          if (response.data.Ok) {
            this.FechaInicio = this.formatDate(
              response.data.Data.FechaInicio.substr(0, 10)
            );
            this.FechaFin = this.formatDate(
              response.data.Data.FechaFin.substr(0, 10)
            );
            this.Mision = response.data.Data.Mision;
            this.Vision = response.data.Data.Vision;
            this.Codigo = response.data.Data.Codigo;
            this.PLSpeiID = response.data.Data.PLSpeiID;
            this.$store.commit("alerta", { show: true, estado: 200 });
          } else {
            response.data.Errores.forEach(element => {
              this.$store.commit("alerta", { show: true, estado: 404 });
            });
          }
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },
    loadEdit(id) {
      this.disabledForm = false;
      this.$service
        .post("PLS/Pei/Ir", {
          PLSpeiID: id
        })
        .then(response => {
          if (response.data.Ok) {
            this.FechaInicio = this.formatDate(
              response.data.Data.FechaInicio.substr(0, 10)
            );
            this.FechaFin = this.formatDate(
              response.data.Data.FechaFin.substr(0, 10)
            );
            this.Mision = response.data.Data.Mision;
            this.Vision = response.data.Data.Vision;
            this.Codigo = response.data.Data.Codigo;
            this.PLSpeiID = response.data.Data.PLSpeiID;
            this.$store.commit("alerta", { show: true, estado: 200 });
          } else {
            response.data.Errores.forEach(element => {
              this.$store.commit("alerta", { show: true, estado: 404 });
            });
          }
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },
    submit() {
       this.loading = true; 
      var accion = "Insertar";

      if (this.PLSpeiID != "00000000-0000-0000-0000-000000000000") {
        accion = "Modificar";
      }
      if (this.$refs.form.validate()) {
        this.$service
          .post("PLS/Pei/" + accion, {
            FechaInicio: this.parseDate(this.FechaInicio),
            FechaFin: this.parseDate(this.FechaFin),
            Mision: this.Mision,
            Vision: this.Vision,
            Codigo: this.Codigo,
            PLSpeiID: this.PLSpeiID
          })
          .then(response => {
            if (response.data.Ok) {
              //201 accese// creado
              this.FechaInicio = this.formatDate(
                response.data.Data.FechaInicio.substr(0, 10)
              );
              this.FechaFin = this.formatDate(
                response.data.Data.FechaFin.substr(0, 10)
              );
              this.Mision = response.data.Data.Mision;
              this.Vision = response.data.Data.Vision;
              this.Codigo = response.data.Data.Codigo;
              this.PLSpeiID = response.data.Data.PLSpeiID;
              this.disabledForm = true;
              this.$store.commit("alerta", { show: true, estado: 200 });
               this.loading = false;
            } else {
              response.data.Errores.forEach(element => {
                this.$store.commit("alerta", {
                  show: true,
                  estado: -1,
                  _xtra: {
                    icon: "2",
                    color: "red",
                    text:
                      "Codigo Error:" +
                      element.CodigoError +
                      " ," +
                      "Mensaje Error:" +
                      element.MensajeError
                  }
                });
              });
               this.loading = false;
            }
          })
          .catch(error => {
            this.$store.commit("alerta", { show: true, estado: 404 });
             this.loading = false;
          });
      } else {
        this.$store.commit("alerta", { show: true, estado: 100 });
         this.loading = false;
      }
    }
  }
};
</script>