<!--
<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-end>
          <v-flex xs6 sm8 md4 lg4>
            <v-card class="elevation-24 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/logo_abt2014.png" alt="Vue Material Admin" width="300" height="200">
                  <h1 class="flex my-4 primary--text">SICOB WEB 2.0</h1>
                </div>                
                <v-form lazy-validation v-model="valid"  ref="form">
                  <v-text-field append-icon="person" 
                                name="login" 
                                label="Login" 
                                type="text" 
                                v-model="model.username" 
                                required 
                                :rules="[regla.requerido]"
                                >
                  </v-text-field>
                  <v-text-field append-icon="lock" 
                                name="password" 
                                label="Password" 
                                id="password" 
                                type="password" 
                                v-model="model.password"
                                required
                                :rules="[regla.requerido]"
                                >
                  </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <!--
                 <v-progress-circular v-if="loading"
                    indeterminate
                    color="teal darken-4">
                </v-progress-circular>-->
                <!--
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="login" :loading="loading">INGRESAR</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
-->
<template> 
  <v-app id="login" style="border:0px solid red; heigth: 100%">
    <v-parallax
      
      src="/static/bg_02.jpg"
      :height="windowSize.y"
      jumbotron>
              <v-layout align-center justify-end  v-resize="onResize">
                <v-flex xs6 sm8 md4 lg4 style="border:4px solid teal" color="teal darken-4">
                  <v-card class="elevation-14 pa-3" color="rgb(255, 255, 255, 0.9)">
                    <v-card-text>
                      <div class="layout column align-center">
                        <img src="/static/logo_abt2014.png" alt="Vue Material Admin" width="300" height="200">
                        <h1 class="flex my-4 primary--text">SICOB WEB 2.0</h1>
                      </div>                
                      <v-form lazy-validation v-model="valid"  ref="form">
                        <v-text-field append-icon="person" 
                                      name="login" 
                                      label="Login" 
                                      type="text" 
                                      v-model="model.username" 
                                      required 
                                      :rules="[regla.requerido]"
                                      >
                        </v-text-field>
                        <v-text-field append-icon="lock" 
                                      name="password" 
                                      label="Password" 
                                      id="password" 
                                      type="password" 
                                      v-model="model.password"
                                      required
                                      :rules="[regla.requerido]"
                                      v-on:keyup.enter="login"
                                      >
                        </v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn block color="primary" @click="login" :loading="loading">INGRESAR</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
    </v-parallax>
  </v-app>
</template>

<script>
import {reglas} from '@/api/validarForm';
export default {
  data: () => ({
    loading: false,
    regla : reglas,
    valid :true,
    loading:false,
     windowSize: {
      x: 0,
      y: 0
    },
    model: {
      username: '',
      password: ''
    }
  }),

  methods: {
    login () 
    {
       this.loading = true;   
    this.$service.post("PLS/Usuario/GetTokenValidarUsuario",{'Item1': this.model.username, 'Item2': this.model.password})
      .then(response => {
          if (response.data.Ok) {
            let Data = response.data.Data;
              localStorage.token=Data.Token;
               localStorage.FuncionarioNombreCompleto=Data.FuncionarioNombreCompleto;
               localStorage.FuncionarioCargo=Data.FuncionarioCargo;
                  localStorage.GrupoOrganizacionalCorto=Data.GrupoOrganizacionalCorto;
                localStorage.EsResponsable=Data.EsResponsable;
                 localStorage.GrupoOrganizacionalID=Data.GrupoOrganizacionalID;
                   localStorage.FuncionarioID=Data.FuncionarioID;
                    localStorage.FuncionarioCedulaIdentidad=Data.FuncionarioCedulaIdentidad;
                
              if (localStorage.token) 
              this.$service.setJwt(localStorage.token);
            window.getApp.$emit('APP_LOADING',true,'CARGANDO PANEL PRINCIPAL DE USUARIO...');
            window.getApp.$emit('APP_LOGIN_SUCCESS');
            this.$store.commit("alerta", { show: true, estado: 200 });
             this.loading = false;
          } else {
            response.data.Errores.forEach(element => {
              this.$store.commit("alerta", { show: true, estado: 404 });
            });
             this.loading = false;
         }
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
           this.loading = false;
        });
    },
    onResize () {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
    }
  },
  mounted () {
    this.onResize()
  },
    
};
</script>
<style scoped lang="css">
  /*
  #login {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  };*/
  #login img {
  height: 100%
}
</style>
