<template>
  <v-layout row class="align-center layout px-4 pt-4 app--page-header">
    <div class="page-header-left">
      <h3 class="pr-3">{{ titlePage }}</h3>
    </div>
     <v-breadcrumbs divider="-" :items="breadcrumbs"> </v-breadcrumbs> 
    <v-spacer></v-spacer>
    <div class="page-header-right">
       
      <v-btn icon>
        <v-icon class="text--secondary">refresh</v-icon>
      </v-btn>
    </div>
  </v-layout>
</template>
<script>
import menu from '@/api/menu';
export default {
  component:{
  },
  data () {
    return {
      titlePage: '',
    };
  }, computed: {
    breadcrumbs: function() {
      let breadcrumbs = [];
      menu.forEach(item => {
        if (item.items) {
          let child = item.items.find(i => {
            return i.component === this.$route.name;
          });
          if (child) {
            breadcrumbs.push(item.titlePage);
            breadcrumbs.push(child.titlePage);
            this.titlePage = child.titlePage;
          }
        } else {
          if (item.name === this.$route.name) {
            this.titlePage = item.titlePage;
            breadcrumbs.push(item.titlePage);
          }
        }
      });
      return breadcrumbs;
    }
  }
  
};
</script>
