<template>
  <div id="page-forms">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar color="success" dark flat dense cad>
              <v-toolbar-title class="subheading">FORMULARIO DE ACTUALIZACION DE USUARIO</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-text>
                    <v-layout row wrap>
                       <v-flex sm12 lg12>
                        <h4>mensaje:{{mensaje}}</h4>
                      </v-flex>
                      <v-flex sm4 lg4>
                        <v-text-field
                          outline
                          label="CI Usuario"
                          :error-messages="errorMessages"
                          v-model="model.usuario.Ci"
                          ref
                          placeholder
                         :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                        <v-flex sm4 lg4>
                        <v-text-field
                          outline
                          label="Nombre Usuario"
                          :error-messages="errorMessages"
                          v-model="model.usuario.Nombre"
                          ref
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                      <v-spacer></v-spacer>
                         <v-flex sm12 lg12 v-if="model.billetera.saldo>=0">
                        <v-text-field
                          outline
                          label="SALDO BILLETERA"
                          :error-messages="errorMessages"
                          v-model="model.billetera.saldo"
                          ref
                          placeholder
                          :disabled="true"
                        ></v-text-field>
                      </v-flex>
                   
                    </v-layout>
                  </v-card-text>
                  <v-divider class="mt-5"></v-divider>
                  <v-card-actions v-if="!disabledForm">
                    <v-slide-x-reverse-transition>
                    </v-slide-x-reverse-transition>
                    <v-btn color="primary" flat @click="submit" :loading="loading" >GUARDAR</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-form>
              <!-- finnnnnn -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
/* import VWidget from '@/components/VWidget'; */
export default {
  name: "UsuarioForm",
  data: vm => ({
      loading: false,
    //form
    valid: true,
    formHasErrors: false,
    disabledForm: null,
    errorMessages: [],
model:{
  usuario:{
    Ci: null,
    Nombre: null},
billetera:{
    saldo: null},
  },
  mensaje:null,
  }),
  created(){
    this.loadEdit();
  },
  methods: {
    //form
    validate() {
      if (this.$refs.form.validate()) {
        // this.snackbar = true
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    resetFormData() {
      this.resetValidation();
     this.Ci=null;
     this.Nombre=null;
    },
   
 
//abm basicos
    loadAdd() {
      this.resetFormData();
      this.disabledForm = false;
    },
    loadEdit() {
      this.disabledForm = false;
      this.$service
        .get("billetera", {
        })
        .then(response => {
         let respuesta=response.data;
           this.mensaje = respuesta.mensaje;
          if (!respuesta.error) {
             this.model = respuesta.data
            
              this.$store.commit("alerta", {
                  show: true,
                  estado: -1,
                  _xtra: {
                    icon: "2",
                    color: "success",
                    text:
                      "Codigo :" +
                      response.data.codigo +
                      " ," +
                      "Mensaje:" +
                      response.data.mensaje
                  }
              });
          } else {
          this.$store.commit("alerta", {
                  show: true,
                  estado: -1,
                  _xtra: {
                    icon: "2",
                    color: "red",
                    text:
                      "Codigo Error:" +
                      response.data.codigo +
                      " ," +
                      "Mensaje Error:" +
                      response.data.mensaje
                  }
              });
          }
         
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },
    submit() {
       this.loading = true; 
      let params = new URLSearchParams();
      params.append('Ci', this.model.usuario.Ci);
      params.append('Nombre', this.model.usuario.Nombre);

      if (this.$refs.form.validate()) {
        this.$service
          .post("usuario/",params)
          .then(response => {
            if (!response.data.error) {
              this.disabledForm = true;

                this.$store.commit("alerta", {
                  show: true,
                  estado: -1,
                  _xtra: {
                    icon: "2",
                    color: "success",
                    text:
                      "Codigo :" +
                      response.data.codigo +
                      " ," +
                      "Mensaje:" +
                      response.data.mensaje
                  }
              });
               this.loading = false;
            } else {
         
                this.$store.commit("alerta", {
                  show: true,
                  estado: -1,
                  _xtra: {
                    icon: "2",
                    color: "red",
                    text:
                      "Codigo Error:" +
                      response.data.codigo +
                      " ," +
                      "Mensaje Error:" +
                      response.data.mensaje
                  }
              });

               this.loading = false;
            }
          })
          .catch(error => {
            this.$store.commit("alerta", { show: true, estado: 404 });
             this.loading = false;
          });
      } else {
        this.$store.commit("alerta", { show: true, estado: 100 });
         this.loading = false;
      }
    }
  }
};
</script>